/* CSS RESET */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
    font-family: 'Raleway Light';
    margin: 0 auto;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  h2 {
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 1.5rem;
  }

  * {
    box-sizing: border-box;
  }

/* NAV */

  .main-header {
    background-color: #fff;
    border-bottom: 2px solid #d7d7d7;
    width: 100%;
  }
  
  .nav-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .nav-header img {
    height: auto;
    max-width: 100%;
    width: auto;
  }

  .nav-container {
    color: #e2574c;
    display: inline;
    flex-direction: column;
    font-family: 'Raleway Web',sans-serif;
    justify-content: space-between;
    /* margin: 0;
    padding: 0; */
  }

  .nav-container ul li {
    color: #e2574c;
    display: inline;
    font-size: 100%;
    font-family: "Raleway-Light";
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
  }

  .nav-a {
    color: #e2574c;
    font-size: 100%;
    font-family: "Raleway-Light";
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
}

  .container {
    padding: 0 2%;
    margin: 0 auto;
    width: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .box-container h3 {
    align-items: center;
    color: white;
    display: flex;
    font-family: 'Raleway Web',sans-serif;
    justify-content: center;
    position: relative;
    top: 40%;
  }

  /* .container {
    display: flex;
    padding: 0%;
    margin: 0 auto;
    width: 100%;
  } */

  .logo {
    align-self: flex-start;
    display: flex;
    left:0;
    max-width: 150px;
  }

  .cart {
    align-self: flex-end;
    display: flex;
    max-width: 150px;
  }

/* MAIN HEADER */

  .hero-banner  {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(images/banner-girl.png) no-repeat center 10px, url(images/flower-bkgd.jpg) repeat-x top;
    background-repeat: no-repeat;
    background-size: cover,150px 369px,cover;
    color: #fff;
    flex-direction: column;
    font-family: 'Playfair Display Web',serif;
    height: 350px;
    justify-content: center;
    padding: 7rem;
    position: relative;
    text-align: center; 
  }

  .collection {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .seasons {
    font-family: 'Playfair Display Web',serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: none;
  }


/* MIDDLE BANNER */

  .handcrafted-h2 {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 70px;
    text-align: center;
    vertical-align: baseline;
  }

/* CONTAINER FOR CATEGORIES */

  .box-container {
    display: flex;
    align-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    font-size: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
    position: relative;
    width: 100%;
  }

  .flex-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
    flex: 1 1 50%;
    border: 1px solid white;
    height: 50vw;
  }

  .box-mens {
    background-image: url(images/mens-category.1.jpg);
    background-position: center;
    background-size: cover;
    font-size: 30px;
    order: 1;
  }

  .box-trends {
    background-image: url(images/trends-category.jpg);
    background-size: cover;
    font-size: 30px;
    order: 2;
  }

  .box-glasses {
    background-image: url(images/glasses-category.jpg);
    background-size: cover;
    font-size: 30px;
    order: 3;
  }

  .box-sale {
    background-image: url(images/sale-category.jpg);
    background-size: cover;
    font-size: 30px;
    order: 4;
  }

  .box-bags {
    background-image: url(images/bags-category.jpg);
    background-size: cover;
    font-size: 30px;
    order: 5;
  }

  .box-womens {
    background-image: url(images/womens-category.jpg);
    background-size: cover;
    font-size: 30px;
    order: 6;
  }

/* MOST LOVED PRODUCTS  */

  .most-loved-products {
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 40px;
  }

  .cat-p {
    color: #969696;
    font-size: .75rem;
  }

  .product-name {
    color: #e2574c;
    font-size: 1.5rem;
  }

  .price {
    color: #969696;
    font-size: 100%;
  }

  .add-to-cart {
    background-color: #242424;
    color: #fff;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 1rem;
    padding: .5rem 1rem;
  }
    
  .main-carousel {
    align-content: center;
    align-items: center;
    flex-flow: row nowrap;
    padding: 3rem 2rem;
    width: 90%;
    margin: auto;
  }
    
  .carousel-wrapper {
    flex-flow: row wrap;
    justify-content: space-between; 
  }


/* BOTTOM BANNER */

  .bottom-banner {
    align-content: center;
    background: linear-gradient(180deg,rgba(0,0,0,.15) 0,rgba(0,0,0,.15)), url(images/wave-bkgd.jpg)no-repeat bottom;
    background-size: cover;
    color: #fff;
    font-size: 1rem;
    font-family: 'Raleway Web',sans-serif;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 6rem;
    text-align: center;
    width: 100%;
  }

  .bottom-banner-h3 {
    align-content: center;
    font-size: 2.5rem;
    font-style: italic;
    font-family: 'Playfair Display Web',serif;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  .bottom-banner-p {
    font-family: 'Playfair Display Web',serif;
    line-height: 1;
    /* width: 60%; */
  }

  .type-email { 
    display: block;
    margin: 2rem auto 0;
    max-width: 600px;
    position: relative;
  }

  .email-address {
    box-sizing: border-box;
    border: 0;
    border-radius: 50px;
    font-family: "Raleway-Light";
    font-size: 1rem;
    line-height: 2;
    padding: 0.50rem 1.75rem;
    width: 75%;
  }

  .subscribe {
    background-color: #e2574c;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    padding: .7rem 2rem;
    position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
  }

/* FOOTER */

  .footer {
    align-items: center;
    background-color: #242424;
    display: flex;
    justify-content: space-around;
    padding: 4rem;
  }

  .info-a {
    color: #fff;
    font-family: 'Playfair Display Web,serif';
    font-size: 18px;
    padding-bottom: 16px;
  }

  .email {
    color: white;
    font-family: 'Playfair Display Web',serif;
    font-size: 18px;
  }

  .address {
    color: #969696;
    font-family: 'Playfair Display Web',serif;
    font-size: 18px;
  }

  .social-media {
    color: #fff;
    font-family: 'Playfair Display Web',serif;
    font-size: 18px;
  }


/* MEDIA QUERIES */

  @media screen and (min-width: 600px){
    .flex-item {
      flex-grow: 1;
      flex-shrink: 1; 
      flex-basis: 25%;
      flex: 1 1 25%;
      border: 1px solid white;
      height: 25vw;
    }

    .carousel-cell {
      width: 50%;
    }
  }

  @media screen and (min-width: 1240px){
    .flex-item {
      flex: 1 1 25%;
      border: 1px solid white;
      height: 25vw;
    }

    .carousel-cell {
      width: 25%;
    }
  
  
    .flex-item:nth-of-type(1),
    .flex-item:nth-of-type(6) 
    {
        flex-basis: 50%;
    }
  }

