/* CSS RESET */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  h2 {
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 1.5rem;
  }
/* NAV */

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-container {
    color: #e2574c;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Raleway Web,sans-serif;
    margin: 0;
    padding: 0;
  }

  .nav-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  .nav-container ul li {
    display: inline;
  }

  .box-container h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
    color: white;
    font-family: Raleway Web,sans-serif;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    display: flex;
    padding: 0%;
    margin: 0 auto;
    width: 100%;
  }

  .logo {
    align-self: flex-start;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    max-width: 10%;
  }

  .cart {
    align-self: flex-end;
    display: flex;
    width: 50px;
    margin: 0;
    padding: 0;
    border: 0;
  }

/* MAIN HEADER */

    .main-header  {
    background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(images/banner-girl.png) no-repeat center 10px, url(images/flower-bkgd.jpg) repeat-x top;
    background-repeat: no-repeat;
    background-size: cover,150px 369px,cover;
    font-family: Playfair Display Web,serif;
    font-size: 3rem;
    color: #fff;
    height: 200px;
    margin-top: 10px;
    position: relative;
    justify-content: center;
    text-align: center;
    width: relative;
    padding: 4rem;
    flex-direction: column;
  }

    .collection {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }

/* MIDDLE BANNER */

  .handcrafted-h2 {
    margin: 0;
    padding: 70px;
    border: 0;
    text-align: center;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

/* CONTAINER FOR CATEGORIES */
  .box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 4px solid #fff;
    padding: 10px;
    height: 25vw;
    margin-top: 50px;
    margin-bottom: 50px;
  }

/* CATEGORIES */

    .box-mens {
      background-image: url(images/mens-category.1.jpg);
      background-size: cover;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      order: 1;
      width: 50%;
      height: 200px;
    }

    .box-trends {
      background-image: url(images/trends-category.jpg);
      background-size: cover;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      order: 2;
      width: 25%;
      height: 200px;  
    }

    .box-glasses {
      background-image: url(images/glasses-category.jpg);
      background-size: cover;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      order: 3;
      width: 25%;
      height: 200px;
    }

    .box-sale {
      background-image: url(images/sale-category.jpg);
      background-size: cover;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      order: 4;
      width: 25%;
      height: 200px;
    }

    .box-bags {
      background-image: url(images/bags-category.jpg);
      background-size: cover;
      order: 5;
      width: 25%;
      height: 200px;
    }

    .box-womens {
      background-image: url(images/womens-category.jpg);
      background-size: cover;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      order: 6;
      width: 50%;
      height: 200px;
    }

/* MOST LOVED PRODUCTS  */
  .most-loved-products {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: skyblue;
  }

  .li {
    display: flex;
    flex-direction: row;
  }

  .ul {
    list-style-type: none;
  }

/* BOTTOM BANNER */

  .bottom-banner {
    display: flex;
    align-content: center;
    background-image: url(images/wave-bkgd.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
  }

/* FOOTER */

  .footer {
    background-color: yellow;
  }